{% extends './base.html' %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro_login.css') }}">
{% endblock %}


{% block title %}
{% if pagina == 'Registro'%}Registro{% endif %}
{% if pagina == 'Iniciar sesion'%}Login{% endif %}
{% endblock %}

{% block body %}

{% if pagina == 'Registro'%}
<form class="form-signin text-center" action="{{ url_for('registrarUsuario') }}" method="POST">
{% endif %}
{% if pagina == 'Iniciar sesion'%}
<form class="form-signin text-center" action="{{ url_for('loginPost') }}" method="POST">
{% endif %}
  <img class="mb-3" src="{{ url_for('static', filename='img/black-clover.png') }}" alt="" width="95" height="95">
  <h1 class="h3 mb-3 fw-normal">{{ pagina }}</h1>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

  {% if pagina == 'Registro'%}
  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="username" id="floatingInputName" value="{{ username }}" placeholder="Nombre de usuario">
    <label for="floatingInputName">Nombre de usuario</label>
  </div>
  {% endif %}
  
  <div class="form-floating mb-3">
    <input type="email" class="form-control" name="email" id="floatingInputEmail" value="{{ email }}" placeholder="micorreo@ejemplo.com">
    <label for="floatingInputEmail">Email</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Contraseña">
    <label for="floatingPassword">Contraseña</label>
  </div>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% if pagina == 'Iniciar sesion'%}
  <div class="checkbox mb-2">
    <label>
      <input type="checkbox" value="remember-me"> Recuerdame
    </label>
  </div>
  {% endif %}

  {% if pagina == 'Registro'%}
  <a href="{{ url_for('login') }}">¿Ya tienes cuentas? Inicia sesion</a>
  {% endif %}
  {% if pagina == 'Iniciar sesion'%}
  <a href="{{ url_for('registro') }}">¿No tienes una cuentas? Registrate</a>
  {% endif %}

  {% if pagina == 'Registro'%}
  <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Registrarme</button>
  {% endif %}
  {% if pagina == 'Iniciar sesion'%}
  <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Ingresar</button>
  {% endif %}
  <p class="mt-4 mb-3 text-muted">&copy; 2022–2023 Instituto Tecnologico del Putumayo</p>
</form>
{% endblock %}