{% extends './base.html' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img  src="{{ url_for('static', filename='img/black-clover.png') }}" alt="" width="30" height="30" class="d-inline-block align-text-top">
        Clover
      </a>
    </div>
  </nav>
<div class="container mt-4">
    <h1 class="text-white">Bienvenido, {{ current_user.username }}</h1>
    <a class="btn btn-secondary" href="{{ url_for('logout') }}">Cerrar sesion</a>
</div>

{% endblock %}