{% extends './base.html' %}

{% block title %}Cambiar Constraseña{% endblock %}

{% block body %}

<div class="container">
  <div class="m-4 d-flex justify-content-center align-items-center text-center" style="height: 600px;">
    <div class="border text-white pt-4" style="width: 600px;height: 300px;">
        <h1 class="h3">Cambiar contraseña</h1>
        <p class="lead">
            Ingresa el email con que te registraste para enviar un correo con el enlace al cambio de contraseña
        </p>
        <form class="d-flex flex-column align-items-center" action="{{ url_for('login') }}">
            <div class="form-floating mb-2 text-center w-50 text-dark">
                <input type="email" class="form-control" name="email" id="floatingInputEmail" value="{{ email }}" placeholder="micorreo@ejemplo.com">
                <label for="floatingInputEmail">Email</label>
            </div>
            <button class="btn btn-primary mt-2" type="submit">
                Enviar
            </button>
        </form>
    </div>
  </div>
</div>

{% endblock %}