{% extends './base.html' %}

{% block title %}Confirmar{% endblock %}

{% block body %}

<div class="container">
  <div class="m-4 d-flex justify-content-center align-items-center text-center" style="height: 600px;">
    <div class="border text-white pt-4" style="width: 600px;height: 250px;">
      <h1>Cuenta Confirmada</h1>
      <p class="lead">Gracias por cofirmar su cuenta, ahora puedes continuar Iniciando Sesion</p>
      <p class="lead">
        <a href="{{ url_for('login') }}" class="btn btn-primary fw-bold">Ir a Iniciar Sesion</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}