{% extends './auth/base-auth.html' %}

{% block title %}Cambiar Constraseña{% endblock %}

{% block body %}

<div class="container">
  <div class="m-4 d-flex flex-column justify-content-center align-items-center text-center" style="height: 600px;">
    <div class="border text-white py-4" style="width: 600px;">
        <form class="d-flex flex-column align-items-center" action="{{ url_for('cambiarPasswordPost') }}" method="POST">
            <h1 class="h3">Ingresa tu email de registro</h1>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <p class="lead">
                Ingresa el email con que te registraste para enviar un correo con el enlace al cambio de contraseña
            </p>
            <div class="form-floating mb-2 text-center w-50 text-dark">
                <input type="email" class="form-control" name="email" id="floatingInputEmail" value="{{ email }}" placeholder="micorreo@ejemplo.com">
                <label for="floatingInputEmail">Email</label>
            </div>
            <button class="btn btn-lg btn-primary my-2" type="submit">
                Enviar
            </button>
            <a style="text-decoration: none;" href="{{ url_for('login') }}">Volver</a>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
  </div>
</div>

{% endblock %}